# 锁定包管理器
packageManager=pnpm@9.12.2

# Node.js 版本
node-version=18.19.0

# 安装配置
auto-install-peers=true
strict-peer-dependencies=false

# 提升配置
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# 缓存配置
store-dir=~/.pnpm-store

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir="{{ version }}"
cache_dir=~/.electron
